<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SetElite.Client.Properties.Configurator" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SetElite.Client.Properties.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SetElite.Client.Properties.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SetElite.Client.Properties.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <SetElite.Client.Properties.Configurator>
            <setting name="Setting" serializeAs="String">
                <value>0</value>
            </setting>
        </SetElite.Client.Properties.Configurator>
        <SetElite.Client.Properties.UserSettings>
            <setting name="Wallpaper_Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Wallpaper_WallpaperStyle" serializeAs="String">
                <value>Stretched</value>
            </setting>
            <setting name="Keyboard_IsEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Keyboard_Mode" serializeAs="String">
                <value>CtrlShift</value>
            </setting>
            <setting name="Hotkeys_IsEnabled" serializeAs="String">
                <value>True</value>
            </setting>
        </SetElite.Client.Properties.UserSettings>
        <SetElite.Client.Properties.AppSettings>
            <setting name="UserWallpaperFilename" serializeAs="String">
                <value />
            </setting>
        </SetElite.Client.Properties.AppSettings>
    </userSettings>
    <applicationSettings>
        <SetElite.Client.Properties.AppSettings>
            <setting name="UserConfigPath" serializeAs="String">
                <value>C:\.SetEliteSettings</value>
            </setting>
        </SetElite.Client.Properties.AppSettings>
    </applicationSettings>
</configuration>